body,html
{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
    
}
*,::after,::before
{
    box-sizing: border-box;
}
ul,li
{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6,h6,p
{
    margin: 0;
    padding: 0;
}
.container
{
    width: 90%;
    padding: 0px 15px;
    margin: auto;

}
.common-all
{
    background-color: #ffffff;
    
}
.top-head
{
    padding: 15px 0px;
    background-color: #f2f2f2;
    line-height: 0;
}
.top-all
{
    width: 100%;
    overflow: auto;
}
.first-top
{
    width: 41.66666667%;
    float: left;
    padding: 0px 15px;
    line-height: 1.7;
}
.left-first
{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 700;
}
.phone
{
    margin-right: 5px;
    font-size: 14px;
    
    color: #ffd015;
}
.phone-txt
{
    color: #777;
}
header .first-top .left-first a
{
    color: #777;
    display: inline-block;
    text-decoration: none;
}
header .left-first a:hover
{
    color: #ffd015;
}
.clk
{
    margin-left: 10px;
}
.we
{
   font-weight: 400;      
}
.second-top
{
    width: 58.33333333%;
    float: right;
    padding: 0px 15px;
    line-height: 1.7;
}
.box-menus
{
   margin-left: 22px; 
    position: relative;
    display: inline-block;
}
.box-menus::before
{
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 1px;
    left: -12px;
    background-color: #cfcfcf;
    display: inline-block;
}
.box-menus a
{
    color: #000000;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition: 0.3s all ease;
}
header .second-top .box-menus a:hover
{
    color: #ffd015;
}
.dropdown-acc
{
    position: relative;
    margin-left: 22px;
    display: inline-block;
}
.dropdown-acc::before
{
   content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 1px;
    left: -12px;
    background-color: #cfcfcf;
    display: inline-block;
} 
.drop-cont
{
    display: block!important;
    position: static;
    padding: 0;
    margin: 0;
    background: 0 ;
    width: auto;
    top: (100% + 18px);
    z-index: 20;
    right: 0;

}
.drop-item
{
    display: inline-block;
    position: relative;
}
.account-toggle
{
    transition: 0.3s all ease;
    cursor: pointer;
    color: #000;
    font-size: 12px;
}
header .account-toggle span::after
{
    display: inline-block;
    content: '\f107';
    margin-left: 5px;
    font-weight: 400;
    font-family: 'fontawesome';
}
header .account-toggle span:hover
{
    color: #ffd015;

}
.inner-ul
{
    position: absolute;
    width: 200px;
    display: none;
    right: auto;
    left: 0;
    background-color: #f2f2f2;
    color: #777;
    margin: 0;
    padding: 0;
    top: (100% + 18px);
}
header .account-toggle span:hover .inner-ul
{
    display: block;
}
.drop-cont>li>a
{
    text-align: left;
    width: 100%;
    display: block;
    padding: 10px 10px 10px 15px;
    text-transform: capitalize;
    color: #777;
}

